.projects-main-pic {
    margin-top: 60px;
}

.main-image-text {
    width: 1100px;
    margin: 50px 0;
}

.main-image-text p {
    font-family: "Mulish", sans-serif;
    line-height: 26px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.projects-gallery {
  display: flex;
  gap: 25px;
}